<section>
    <h2>Welcome to Tennis Shop Argentina</h2>
    <h4>Please, Select your option to navigate for this web</h4>

    <div>
        <button type="button" class="back-btn btn"><%= link_to "Login", user_session_path %></button>
        <button type="button" class="back-btn btn"><%= link_to "Sign Up", new_user_registration_path %></button>
        <button type="button" class="back-btn btn"><%= link_to "Sign Out", edit_user_registration_path %></button>
    </div>

</section>